{#include main.html}
{#title}{post.title}{/title}

<article>
  <header class="article-header">
    <h1>{post.title}</h1>
    <div class="meta">
      Posted on {time:format(post.createdAt, 'dd MMM yyyy')}
      {#if post.type == 'page'} &middot; <span>Page</span>{/if}
    </div>
    {#if !post.tags.isEmpty}
    <div class="tags">
      {#for tag in post.tags}
      <a href="{uri:Blog.byTag(tag.slug)}">{tag.name}</a>
      {/for}
    </div>
    {/if}
  </header>

  <div class="article-content">
    {post.content.or("").renderMarkdown.raw}
  </div>
</article>

<hr class="divider">

<a href="{uri:Blog.index}" class="btn-back">&larr; Back to Blog</a>
{/include}
